In [6]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\ankit\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [42]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [55]:
producer = KafkaProducer(bootstrap_servers=['13.233.208.6:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [56]:
#producer.send('demo_testing', value={'a':'K'})

In [57]:
df=pd.read_csv('Desktop\stkData.csv')

In [58]:
df.head(2)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013

In [59]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'N225',
 'Date': '2018-12-13',
 'Open': 21755.13086,
 'High': 21871.33984,
 'Low': 21675.66016,
 'Close': 21816.18945,
 'Adj Close': 21816.18945,
 'Volume': 79200000.0,
 'CloseUSD': 218.1618945}

In [60]:
producer.send('demo_testing', value=dict_stock)

In [61]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [26]:
producer.flush() #clear data from kafka server